
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-600 dark:[&>p>strong]:text-blue-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      My name is Gonzalo Aguirre. I started programming in Pascal and C in high school. Currently, <strong
        >I work as a freelancer.</strong
      >.
    </p>
    
    <p>
      I participated in many collaborative groups to gain experience, <strong
        > one of them was in the <em class="italic">“No Country”</em> community</strong
      >.This opportunity helped me to improve my personal and professional skills.
    </p>

    <p>
      On a personal level,  <strong
      >I decided to learn English , and I have successfully completed it</strong
      >. Obtaining the respective certificates.
    </p>

  </div>
</article>


